# git is case sensitive by default
output_products*
PRJ* 
DEFAULT_PROJECT*
RM_products*

**vivado*.log
**vivado*.jou
**vivado*.str

**/logs/
**/workspace*/
sw/work*

/sim/*
!/sim/*.do 
!/sim/*.tcl 

#sec*/**/*.bin
#sec*/**/*.pem 
#sec*/**/*.nky
# everything except .bif recursive in any sec* folder
sec*/**
!sec*/**/*.bif
!sec*/**/*.NOTES

