[submodule "scripts"]
	path = scripts
	url = https://github.com/tdg2-org/scripts.git
[submodule "sub/common"]
	path = sub/common
	url = https://github.com/tdg2-org/common.git
[submodule "sub/sw"]
	path = sub/sw
	url = https://github.com/tdg2-org/sw.git
[submodule "sub/ip"]
	path = sub/ip
	url = https://github.com/tdg2-org/ip.git
[submodule "sub/msk_modem"]
	path = sub/msk_modem
	url = https://github.com/tdg2-org/msk_modem.git
