# git is case sensitive by default
output_products*
PRJ* 
DEFAULT_PROJECT*
RM_products*
/ip/*
!/ip/tcl

**vivado*.log
**vivado*.jou
**vivado*.str

**/logs/
**/workspace*/
sw/work*

/sim/*
!/sim/*.do 
!/sim/*.tcl 
